html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

input, textarea {
  outline: none;
}

.header {
  background-color: #EDEDEB;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  padding-top: 30px;
  padding-bottom: 10px;
}
.header .navigation {
  z-index: 1;
}
@media screen and (max-width: 952px) {
  .header .navigation {
    display: none;
  }
}
.header .navigation__list {
  display: flex;
}
@media screen and (max-width: 952px) {
  .header .navigation__list.show-menu {
    display: flex;
  }
}
.header .navigation__item-link {
  padding: 11px 32px;
  color: #292929;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-decoration: none;
  transition: 0.3s;
}
@media screen and (max-width: 952px) {
  .header .navigation__item-link {
    font-size: 14px;
  }
}
.header .navigation__item-link:hover {
  color: #FF8340;
  transition: 0.3s;
}
.header__burger {
  display: none;
  z-index: 1000;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: #fff;
}
@media screen and (max-width: 952px) {
  .header__burger {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

.line {
  display: block;
  width: 22px;
  height: 3px;
  background-color: black;
}

.main {
  background-color: #EDEDEB;
}
@media screen and (max-width: 952px) {
  .main {
    padding-top: 110px;
  }
}
.main__wrapper {
  position: relative;
  padding: 119px 0 192px 0;
  height: 100%;
}
.main__img {
  position: absolute;
  left: -242px;
  bottom: 0px;
}
@media screen and (max-width: 952px) {
  .main__img {
    width: 624px;
    height: 624px;
    left: -80px;
  }
}
.main__title {
  color: #CFCFCD;
  font-family: Arial;
  font-size: clamp(100px, 10vw, 160px);
  font-style: normal;
  font-weight: 900;
  line-height: 160px;
  letter-spacing: 8px;
  padding-left: 200px;
}
@media screen and (max-width: 952px) {
  .main__title {
    line-height: 100px;
    letter-spacing: 5px;
  }
}
@media screen and (max-width: 1140px) {
  .main__title {
    padding-left: 50px;
  }
}
.main__description {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  max-width: 590px;
  margin: -65px 0 0 auto;
}
.main__description-link {
  color: #292929;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  transition: 0.3s;
}
.main__description-link:hover {
  color: #FF8340;
  transition: 0.3s;
}

.body {
  margin-top: 169px;
  min-height: 806px;
}
@media screen and (max-width: 952px) {
  .body {
    min-height: 764px;
  }
}
.body__wrapper {
  position: relative;
}
.body__subtitle {
  color: #292929;
  font-family: Arial;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 90px;
  max-width: 1324px;
}
@media screen and (max-width: 952px) {
  .body__subtitle {
    font-size: 60px;
    line-height: 70px;
  }
}
.body__description {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  width: 510px;
  height: 230px;
  margin-left: 227px;
  padding-top: 58px;
}
@media screen and (max-width: 952px) {
  .body__description {
    width: 443px;
    margin-left: 111px;
    padding-top: 25px;
  }
}
.body__img {
  position: absolute;
  margin-top: -510px;
  margin-left: 198px;
  z-index: -1;
}
@media screen and (max-width: 952px) {
  .body__img {
    width: 504px;
    height: 647px;
    margin-top: -490px;
    margin-left: 80px;
  }
}
.body__img-woman {
  position: absolute;
  top: 209px;
  right: -152px;
  z-index: -2;
}
@media screen and (max-width: 1400px) {
  .body__img-woman {
    width: 853px;
    height: 496px;
    top: 313px;
    right: 10px;
  }
}
@media screen and (max-width: 952px) {
  .body__img-woman {
    width: 598px;
    height: 374px;
    top: 390px;
    right: 1px;
  }
}

.true {
  background-color: black;
}
.true__subtitle {
  color: #FFF;
  font-family: Arial;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 160px;
  letter-spacing: 4px;
  padding-top: 125px;
}
@media screen and (max-width: 952px) {
  .true__subtitle {
    font-size: 60px;
    letter-spacing: 3px;
    padding-top: 53px;
  }
}
.true__description {
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  padding-top: 70px;
  padding-bottom: 81px;
}
@media screen and (max-width: 952px) {
  .true__description {
    padding-top: 28px;
    padding-bottom: 53px;
  }
}

.feedback {
  background-color: #FF8340;
  padding: 40px 0 65px 0;
}
.feedback__subtitle {
  text-align: center;
  color: #292929;
  font-family: Arial;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 35px;
}
@media screen and (max-width: 952px) {
  .feedback__subtitle {
    font-size: 32px;
  }
}
.feedback__line {
  height: 6px;
  width: 64px;
  background-color: #292929;
  border: none;
  margin-bottom: 50px;
}
.feedback__description {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 0;
}
.form__select, .form__field {
  width: 49%;
  height: 50px;
  font-size: 20px;
  padding-left: 34px;
}
.form__field::-moz-placeholder {
  color: #B0B0B0;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}
.form__field::placeholder {
  color: #B0B0B0;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}
.form__select {
  background-color: #292929;
  color: white;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}
.form__select-item {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}
.form__massage {
  width: 100%;
  height: 198px;
  font-size: 20px;
  padding-left: 34px;
  resize: none;
  padding: 18px 0 0 34px;
}
.form__massage::-moz-placeholder {
  color: #B0B0B0;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}
.form__massage::placeholder {
  color: #B0B0B0;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}
.form__submit {
  background: none;
  border: none;
  outline: none;
  margin-left: auto;
  cursor: pointer;
  padding: 11px 0;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  border: 1px solid transparent;
  transition: 0.3s;
}
.form__submit:hover {
  border-color: #fff;
  color: #fff;
  transition: 0.3s;
}

.system {
  margin-bottom: 140px;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr;
  grid-template-areas: "descr descr descr img" "nutrition mode programm img";
}
@media screen and (max-width: 1400px) {
  .system {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "descr img" "nutrition mode" "programm programm";
  }
}
.system__description {
  grid-area: descr;
  align-self: end;
  justify-self: end;
  padding: 76px 0 40px 0;
}
.system__description-subtitle {
  color: #292929;
  font-family: Arial;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 4px;
  line-height: 160px;
  margin-bottom: 34px;
}
@media screen and (max-width: 952px) {
  .system__description-subtitle {
    font-size: 60px;
  }
}
.system__description-content {
  color: #292929;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  max-width: 624px;
  margin-bottom: 41px;
}
.system__preview {
  grid-area: img;
  width: 50vw;
}
.system__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px 0 30px;
}
.system__item_nutrition {
  grid-area: nutrition;
}
.system__item_mode {
  grid-area: mode;
}
.system__item_programm {
  grid-area: programm;
}
.system__item-icon {
  margin-bottom: 70px;
}
.system__item-subtitle {
  color: #292929;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1px;
  margin-bottom: 52px;
}
.system__item-description {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}

.footer .navigation {
  margin-bottom: 44px;
  margin-top: 46px;
}
.footer .navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .navigation__item-link {
  font-family: Roboto;
  color: #292929;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-decoration: none;
  transition: 0.3s;
}
.footer .navigation__item-link:hover {
  color: #FF8340;
  transition: 0.3s;
}
.footer__date {
  color: #292929;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
}

.margin {
  margin-bottom: 23px;
}

.coach {
  margin-bottom: 155px;
}
.coach__subtitle {
  color: #292929;
  font-family: Arial;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 90px;
  text-align: center;
  margin-bottom: 124px;
}
@media screen and (max-width: 952px) {
  .coach__subtitle {
    font-size: 60px;
    margin-bottom: 53px;
  }
}

@media screen and (max-width: 952px) {
  .swiper-slide {
    filter: grayscale(1);
  }
}
.swiper-slide__preview {
  width: 100%;
}
@media screen and (max-width: 952px) {
  .swiper-slide-next {
    filter: grayscale(0);
  }
}
.swiper-slide__text {
  padding-left: 54px;
}
.swiper-slide__title {
  color: #292929;
  font-family: Arial;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: 50px;
}
.swiper-slide__subtitle {
  color: #292929;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}

.subscription {
  margin-bottom: 155px;
}
.subscription__subtitle {
  color: #292929;
  font-family: Arial;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 90px;
  text-align: center;
  margin-bottom: 124px;
}
@media screen and (max-width: 952px) {
  .subscription__subtitle {
    font-size: 60px;
    margin-bottom: 53px;
  }
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.block {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 310px;
  height: 624px;
  border: 6px solid rgb(0, 0, 0);
  transition: transform 0.3s;
}
.block:hover {
  border: 6px solid #FF8340;
  transform: scale(1.1);
  cursor: pointer;
}
.block:hover .block__circle {
  border-color: #FF8340;
}
.block:hover .block__circle__number {
  color: #FF8340;
}
.block__circle {
  margin-top: 69px;
  margin-bottom: 24px;
  width: 76px;
  height: 76px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block__circle__number {
  font-family: Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.block__month {
  color: #292929;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1px;
  margin-bottom: 74px;
}
.block__text {
  width: 234px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  margin-bottom: 36px;
}
.block__prise {
  margin-bottom: 20px;
}
.block__button {
  border: none;
  background-color: transparent;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.maps__subtitle {
  color: #292929;
  font-family: Arial;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 90px;
  text-align: center;
  margin-bottom: 46px;
}
@media screen and (max-width: 952px) {
  .maps__subtitle {
    font-size: 60px;
  }
}
.maps__iframe {
  width: 100%;
  height: 480px;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}
@media screen and (max-width: 952px) {
  .container {
    padding: 0 32px;
  }
}/*# sourceMappingURL=style.css.map */